html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #root {
    height: 100%;
    width: 100%;
  }

  body {
    /* The image used */
    background-image: url("../public/bg.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Fixed background */
    background-attachment: fixed;
  }
  